---
---
@charset "UTF-8";

// Mix in the base theme
@import "minima";

// Style-town starts here!
.wrapper {
    display: flex;
    
    .content-block {
        width: 60%;
        margin-right: 3%;
    }
    .screenshot-block {
        width: 33%;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    #screenshots {
        visibility: hidden;
    }
}

// If it's a small screen, collaspe it into a single column
@media screen and (max-width: 800px) {
    .wrapper {
        display: block;
        .content-block {
            width: 100%
        }
        .screenshot-block {
            width: 100%;
        }
        #screenshots {
            visibility: visible;
        }
    }
}

.media-wrapper {
    width: 100%;
    p {
        text-align: center;
    }
}

// Stolen from _base.scss
.header-wrapper {
    display: block;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
      
}